@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}

.title-container{
    background-color: #fff;     
}
 
header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-content: center ;
    padding: 1.5em 3em;
    margin:0 auto;
    background-color: #5AB96C;
    font-size: 0.85em;
    
}

header p {
    margin: 0;
    padding: 0.2em 0
}

header ul{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;    
}

header a {
    text-decoration: none;
    color:#342E2E
}

header li{  
    padding: 0.2em 0.9em;
    margin: 0 0.2em
}

.main {
    padding: 4em 2em 2em;
    display: block;
}

.main img{
    width: 70%;
    padding: 2em;
    margin: auto;
    display: block;
    max-width: 475px;
    animation: move 2s infinite alternate;
}

@keyframes move{
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px)
    }
}


.main-text{
    text-align: center;
    margin: 2em auto;
}

.main-text h1{
    font-size: 2.8em;
    letter-spacing: 0.07em;
    margin: 0;
    padding: 0;
    color: #342E2E
}

.main-text span{
    color: #5BAA6A;
}

.main-text p{
    margin:1em;
    padding: 0em 1em;
    color: #342E2E;
    font-size: 1.2em;
}

.main-text button{
    color: white;
    border: 0;
    background-color: #4B7BB4;
    margin: 1.5em auto;
    padding: 0.8em 2em;
    font-size: 1.1em;
    cursor: pointer;
    
}

.main-text button:hover{
    transition: 0.5s ease;
    background-color: rgb(53, 87, 128) ;
}


.about-container{
    background: #5AB96C;
    padding: 1em 2em 1em;
    color: white;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    text-align: center;
}

.about-container ul{
    list-style-type: none;
    margin:auto;
    padding: 0;
    max-width: 1400px;
}

.about-container img{
    width: 100px;
    max-width: 131px;
    max-height: 131px;
    padding: 1em;
}


figure {
    padding: 0.5em 0;
    margin: 2.5em 0;
}

figcaption{
    margin: 0.5em 0 0;
    padding: 0 2em;
}

hr{
    margin: auto;
    width: 60%;
    height: 2px;
    background-color: white;
}

.demo-container {
    padding: 3em 3em 3em;
    color: black;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    text-align: center;
}

.demo-text{
    max-width: 1000px;
}

.demo-container img{
    width: 75%;
    margin: 1em;
    max-width: 450px;
    padding: 2em;
}

.demo-container img:hover{
    transform: scale(1.08);
    transition: 1s ease;
}

.demo-text h1{
    font-size: 2.2em;
    letter-spacing: 0.07em;
    margin: 0;
    padding: 0.5em;
    color: #342E2E
}

.demo-text p{
    padding: 0 1.5em;
    font-size: 1.1em;
    line-height: 1.5em;
}

.demo-text button{
    color: white;
    border: 0;
    background-color: #4B7BB4;
    margin: 1.5em auto;
    padding: 0.8em 2em;
    font-size: 1.1em;
    cursor: pointer;
}

.demo-text button:hover{
    transition: 0.5s ease;
    background-color: rgb(53, 87, 128) ;
}

footer{
    background: #342E2E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.8em 2em;
    font-size: 0.8em;
}

footer p a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 800px){
    .about-container ul{
        display: flex;
    }

    hr{
        margin: auto;
        height:200px;
        color: white;
        width: 2px;
        background-color: white;
    }

    .about-container li{
        width: 30%;
        margin: auto;
    }
}

@media only screen and (min-width: 1050px){
    .demo-container{
        display: flex;
        justify-content: space-evenly;
    }

    .demo-text{
        margin: auto 0;
        padding: 0 3em
    }
}

@media only screen and (min-width: 1170px){
    .main{
        display: flex;
        padding: 6em 2em 6em;
    }
    .main-text{
        margin: auto;
    }

    .main-text button{
        margin-bottom: 0;
    }
}